html {
  background-color: #2e0f4d;
  color: #eeeeee;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  line-height: 150%;
}

body {
  margin: 0;
}

nav {
  background-color: #462d7d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
}

nav a {
  color: #fff;
  margin: 0em 1em;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  margin: 1em 0 .2em 0;
}

section {
  margin: 1em auto 3em auto;
  padding: 0 0.5em;
  max-width: 800px;
  text-align: left;
}

p {
  margin: 1em 0;
}

a {
  color: #f9a1f1;
}

dt {
  font-weight: bold;
}

table {
  width: 100%;
}

table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

footer {
  margin: 3em auto 1em auto;
}
